video {
  /* min-width: 50%;
  min-height: 50%; */
  width: auto;
  height: auto;
  /* position: absolute; */
  /* top: 0%;
  left: 0%; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%) scaleX(-1); */
  /* -webkit-transform: translate(-50%, -50%) scaleX(-1); */
}

canvas {
  /* min-width: 50%;
  min-height: 50%; */
  width: auto;
  height: auto;
  /* position: absolute; */
  /* top: 0%;
  left: 0%; */
  /* transform: translate(-50%, -50%) scaleX(-1); */
  /* -webkit-transform: translate(-50%, -50%) scaleX(-1); */
}
